@page "/warhammer/characters/{id:int}"
@using Microsoft.EntityFrameworkCore
@using Sinaf.Me.Data
@using Sinaf.Me.Data.Warhammer

<main>
    @if (character != null)
    {
        <a href="/warhammer/characters/@(Id).png" target="_blank" id="image">
            <span>#@character.Id</span>
            <div>
                <img style="transform: translate(-50%, -50%)
                    translateX(@(character.ThumbnailX)%)
                translateY(@(-character.ThumbnailY)%)
                scale(@(character.ThumbnailS)%);"
                     src="@character.GetUrlImage()"
                     alt="@character.Name"/>
            </div>
        </a>
        <section>
            <div id="header">
                <div>
                    <h1>@(character.Name ?? ">Inconnu<")</h1>
                    <span class="femboy-color">@character.ClanName</span>
                </div>
                <span>Créé le @character.CreatedAt.ToString("dd/MM/yyyy")</span>
            </div>
            <hr/>
            <div id="stats">
                <article>
                    <img src="@Assets["images/icons/kill_icon.png"]" alt="kill icon"/>
                    <div>
                        <span>@character.TotalKillsParticipating</span>
                        <span>(+@(character.TotalUnitKills - character.TotalKillsParticipating))</span>
                    </div>
                </article>
                <article>
                    <span>@character.TotalDeaths</span>
                    <img src="@Assets["images/icons/dead_icon.png"]" alt="dead icon"/>
                </article>
                <article>
                    <span>@character.TotalBattles</span>
                    <img src="@Assets["images/icons/match_icon.png"]" alt="battle icon"/>
                </article>
                <article>
                    <span>@character.TotalDamageBlocked</span>
                    <img src="@Assets["images/icons/blocked_icon.png"]" alt="blocked icon"/>
                </article>
                <article>
                    <span>@character.TotalImpossibleSaves</span>
                    <img src="@Assets["images/icons/save_icon.png"]" alt="save icon"/>
                </article>
                <article>
                    <span>@character.TotalDamageTaken</span>
                    <img src="@Assets["images/icons/hurt_icon.png"]" alt="hurt icon"/>
                </article>
                <article>
                    <span>@character.TotalObjectives</span>
                    <img src="@Assets["images/icons/objective_icon.png"]" alt="hurt icon"/>
                </article>
                <article>
                    <span>@character.TotalDamageDone</span>
                    <img src="@Assets["images/icons/damage_icon.png"]" alt="damage icon"/>
                </article>
                <article>
                    <span>@character.TotalFailedCharges</span>
                    <img src="@Assets["images/icons/fail_icon.png"]" alt="fail icon"/>
                </article>
            </div>
            <div id="infos">
                <p>@character.Description</p>
                <p>@character.Commentary</p>
            </div>
            <div id="paints">
                @foreach (var cp in characterPaints)
                {
                    <div style="background: @("#" + cp.Paint.Hex);"
                         tooltip-text="@cp.Paint.Name"
                         class="tooltip">
                    </div>
                }
            </div>
        </section>
    }
    else
    {
        @if (isLoaded)
        {
            <div>
                <h1>Erreur</h1>
                <p>Aucune données disponible sur un personnage avec l'id @Id /ᐠ｡ꞈ｡ᐟ\...</p>
            </div>
        }
        else
        {
            <p>Chargement...</p>
        }
    }
</main>

@code {

    [Parameter] public int Id { get; set; }

    private CharacterDetail? character;
    private CharacterPaint[] characterPaints = [];
    private bool isLoaded;

    protected override async Task OnInitializedAsync()
    {
        await using var context = new WarhammerDbContext();
        character = await context.CharacterDetails.FirstOrDefaultAsync(x => x.Id == (uint)Id);
        characterPaints = await context.CharacterPaints.Where(x => x.CharacterId == (uint)Id)
                              .Include(x => x.Paint)
                              .ToArrayAsync();
        isLoaded = true;
    }

}