@page "/warhammer"
@using System.Text.Json
@using Sinaf.Me.Components.Customs
@using Sinaf.Me.Models.DawnOfWarDE
<PageTitle>Warhammer</PageTitle>

<main>
    <h1>Warhammer</h1>
    <p>
        Au début de l'année 2026, j'ai commencé à découvrir le hobby qu'est Warhammer ヽ（≧□≦）ノ.
        <br/>Je vous partage alors ici, mon fanatisme pour 40k et AoS!
    </p>

    <section id="links">
        @* <h2><a href="/warhammer/armies">Armees</a></h2> *@
        @* <h2><a href="/warhammer/battles">Batailles</a></h2> *@
        <h2><a href="/warhammer/gallery">Galerie</a></h2>
        <h2><a href="/warhammer/citations">Citations</a></h2>
    </section>

@if (leaderboard != null)
{
    <section id="stats">
        <h2>Statistique en jeu</h2>
            <div class="dow">
                <SemiCirclePieChart LeftValue="@leaderboard.Wins" RightValue="@leaderboard.Losses"/>
                <div>
                    <h3>W40k: Dawn Of War DE</h3>
                    <hr/>
                    <h4>Derniers match</h4>
                    <div class="match__list">
                        @foreach (var match in matchHistories)
                        {
                            var win = match.MatchHistoryMembers
                                               .First(x => x.ProfileId == PROFIL_ID)
                                               .Outcome == 1;
                            var teams = new Dictionary<uint, MatchHistoryMember[]>();
                            foreach (var team in match.MatchHistoryMembers
                                                      .GroupBy(x => x.TeamId)
                                                      .OrderBy(x => x.Key))
                                teams[team.Key] = team.ToArray();

                            var time = match.CompletionTime.Subtract(match.StartGameTime);
                            var i = 0;

                            <div class="match @(win ? "win" : "lose")">
                                <div>
                                    <div>
                                        <span class="match__map">
                                            @match.MapName[3..].Replace("_", " ")
                                        </span>
                                        @("><")
                                        <span class="match__compo">
                                            @foreach (var (_, members) in teams)
                                            {
                                                i++;
                                                @(members.Length)
                                                if (i < teams.Count)
                                                {
                                                    @("v")
                                                }
                                            }
                                            @($" {(match.MatchTypeId == 0 ? "perso" : "classé")}")
                                        </span>
                                        @("><")
                                        <span class="match__time">
                                            @time.ToString("mm\\:ss")
                                        </span>
                                    </div>
                                    <div>
                                        <span class="match__date">
                                            le @match.StartGameTime.ToString("dd/MM/yy à HH:mm")
                                        </span>
                                    </div>
                                </div>


                                @* @foreach (var (team, members) in teams) *@
                                @* { *@
                                @*     <div class="match__team"> *@
                                @*         <span>Équipe @(team + 1)</span> *@
                                @*         @foreach (var member in members) *@
                                @*         { *@
                                @*             var profile = profiles.First(x => *@
                                @*                 x.ProfileId == member.ProfileId *@
                                @*             ); *@
                                @*             <span>@profile.Alias</span> *@
                                @*         } *@
                                @*     </div> *@
                                @* } *@
                            </div>
                        }
                    </div>
                </div>
                <span>@leaderboard.Rating.ToString("### ### ##0") ELO</span>
            </div>
    </section>
}
else
{
    <Loading Margin="80"/>
}
</main>

@code {
    private static readonly HttpClient httpClient = new ();

    private const int PROFIL_ID = 14191330;

    private LeaderboardStats? leaderboard;
    private IEnumerable<MatchHistory> matchHistories = [];
    private IEnumerable<Profile> profiles = [];

    protected override async Task OnInitializedAsync()
    {
        var historyJson = await httpClient.GetFromJsonAsync<JsonElement>(
            "https://dow-api.reliclink.com/community/leaderboard/" +
            $"getRecentMatchHistoryByProfileId?title=dow1-de&profile_id={PROFIL_ID}"
        );

        profiles = historyJson.GetProperty("profiles").Deserialize<IEnumerable<Profile>>()!;
        matchHistories = historyJson.GetProperty("matchHistoryStats")
                                    .Deserialize<IEnumerable<MatchHistory>>()!
                                    .OrderByDescending(x => x.StartGameTime);


        var json = await httpClient.GetFromJsonAsync<JsonElement>(
            "https://dow-api.reliclink.com/community/leaderboard/" +
            "getPersonalStat?&title=dow1-de&profile_names=[\"/steam/76561199117557684\"]"
        );
        leaderboard = json.GetProperty("leaderboardStats").EnumerateArray().First()
                          .Deserialize<LeaderboardStats>();
    }

}