@page "/"
@namespace Sinaf.Me.Components.Pages
@using Sinaf.Me.Data

<PageTitle>Accueil</PageTitle>

<main>
    <section id="presentation">
        <h1>Mickaël Dancoisne</h1>
        <p>Votre <span class="femboy-color">femboy</span> développeur en C#!</p>
        <img class="pixel-art" src="images/poney_walk.png" alt="my poney walking"/>
        <div>
            <a href="https://github.com/MrSinaf" target="_blank" class="button">Github</a>
            <a href="https://reddit.com/u/MrSinaf" target="_blank" class="button">Reddit</a>
            <a href="https://discord.gg/AzGJ2DavM3" target="_blank" class="button">Discord</a>
        </div>
    </section>
    <section id="github">
        <h2>Dernier push sur Github╰(*°▽°*)╯</h2>
        <a href="https://github.com/MrSinaf/@lastPush?.Repository/commit/@lastPush?.CommitId"
           id="github__commit" class="no-style" target="_blank">
            <div>
                <h3>@lastPush?.Repository</h3>
                <p id="github__commit__branch">@lastPush?.Branch</p>
                @if (lastPush?.Added > 0)
                {
                    <p>+@lastPush.Added</p>
                }
                @if (lastPush?.Removed > 0)
                {
                    <p>-@lastPush?.Removed</p>
                }
                @if (lastPush?.Modified > 0)
                {
                    <p>~@lastPush?.Modified</p>
                }
            </div>
            @if (lastPush == null)
            {
                <p>Chargement du dernier commit...</p>
            }
            else
            {
                <p>@lastPush.Commit</p>
            }
            <img class="pixel-art" src="@Assets["images/github_avatar.png"]" alt="github avatar"/>
        </a>
    </section>

    @if (steamProfil != null)
    {
        <section id="steam">
            <h2>(*/ω＼*) Activité Steam</h2>
            <a href="https://steamcommunity.com/id/mrsinaf/" target="_blank">
                <div>

                    <img src="@steamProfil.Value.urlIcon" alt="steam avatar"/>
                    <div>
                        <span id="@steamProfil.Value.statusType">@steamProfil.Value.status</span>
                        @if (currentSteamGameInfos != null)
                        {
                            <div>
                                <img src="@currentSteamGameInfos.Value.icon" alt="steam game icon"/>
                                <div>
                                    <p>@currentSteamGameInfos.Value.name</p>
                                    <p>@currentSteamGameInfos.Value.hours</p>
                                </div>
                            </div>
                        }
                        else if (presence != null)
                        {
                            <p>@presence.Libelle</p>
                        }
                    </div>
                </div>
            </a>
        </section>
    }

    <section id="projects">
        <h2>Mes projets notables q(≧▽≦q)</h2>
        <div id="projects__list">
            @foreach (var project in projects)
            {
                var link = project.ProjectLinks.OrderByDescending(x => x.Priority).FirstOrDefault();

                @if (link != null)
                {
                    <a class="project"
                       href="@link.Url"
                       target="@(link.IsIntern ? "_" : "_blank")">
                        <h3>@project.Name</h3>
                        <img src="@Assets[$"projects/{project.UniqueName}/icon.png"]"
                             alt="Icon du projet"/>
                    </a>
                }
                else
                {
                    <a class="project">
                        <h3>@project.Name</h3>
                        <img src="@Assets[$"projects/{project.UniqueName}/icon.png"]"
                             alt="Icon du projet"/>
                    </a>
                }
            }
        </div>
    </section>
    <section id="spotify">
        <h2>Playlist Spotify (＠_＠;)</h2>
        <!--suppress HtmlDeprecatedAttribute -->
        <iframe data-testid="embed-iframe"
                style="border-radius:12px"
                src="https://open.spotify.com/embed/playlist/0xyBePxU1TTWb6lGlqTk3V?utm_source=generator&theme=0&si=8a1daaa9cf93491b"
                width="100%"
                height="152"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy">
        </iframe>
    </section>
</main>