@page "/projects"

<PageTitle>Projets</PageTitle>

<main>
   <h1>Projets</h1>
   <p>
      Découvrez ci-dessous tous mes projets, qu'ils soient personnels, professionnels ou
      open-source.
   </p>
   <div>
      <hr/>
      <img src="@Assets["images/okay.png"]" alt="okay"/>
   </div>
   <section id="projects">
      @foreach (var project in projects)
      {
         <div class="project">
            @if (File.Exists($"wwwroot/projects/{project.UniqueName}/icon.png"))
            {
               <img src="@Assets[$"projects/{project.UniqueName}/icon.png"]" alt="icon"/>
            }
            <div class="project__description">
               <h2>@project.Name</h2>
               <hr/>
               <p>@project.Description</p>
            </div>
            <div class="project__links">
               @foreach (var link in project.ProjectLinks.OrderByDescending(x => x.Priority))
               {
                  <a class="button" href="@link.Url" target="@(link.IsIntern ? "_self" : "_blank")">
                     @link.Name
                  </a>
               }
            </div>
         </div>
      }
   </section>
</main>